.underline {
  width: 100%;
  border-bottom: 1px darkgrey solid;
  margin: 1rem 0;
}


.filtercontainer {

  .c-select,
  .c-multiselect--tiny {
    // display: inline-block;
    margin-right: 1rem;
    max-width: 30rem;
  }

}


fieldset {
  color: #AB362B;
  border-color: #AB362B;
  max-width: 25rem;
}

p,
a,
button,
.c-banner__content .c-banner__text .c-banner__actionlink-container .c-banner__actionlink {
  font-size: 13px;
}

p, .c-banner__content .c-banner__text .c-banner__actionlink-container .c-banner__actionlink {
  font-size: 1rem;
}

.c-banner__content .c-banner-icon {
  padding: 2px 1rem 0 0;
  font-size: 2rem;
}

.c-banner__content .c-banner__text .c-banner__actionlink-container {
  padding-top: 0;
  margin-left: -.4rem;
}

.banner-width {
  max-width: 30rem;
}

.c-spinner .c-spinner__container {
  top: 30%;

  .c-banner .c-banner__content {
    padding: 0.5em;
    border: 1px solid grey;
  }
}
