<app-header activeView="masshantering"></app-header>
<div role="main" class="container">
  <div class="row">
    <div class="col">
      <h4 class="underline">Masshöj status</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="c-select c-select--tiny">
        <label for="myndighet">Myndighet</label>
        <div class="c-select__wrapper">
          <select id="myndighet" [(ngModel)]="sokFilter.myndighet">
            <option *ngFor="let myndighet_item of urvalValuesHolder.myndighet" [value]="myndighet_item">
              {{myndighet_item}}
            </option>
          </select>
          <span class="sjv-i-caret-ner ikon">
          </span>
        </div>
      </div>
      <div class="c-select c-select--tiny">
        <label for="stodar">Stödår</label>
        <div class="c-select__wrapper">
          <select id="stodar" [(ngModel)]="sokFilter.stodAr">
            <option *ngFor="let stodar_item of urvalValuesHolder.stodAr" [value]="stodar_item">
              {{stodar_item}}
            </option>
          </select>
          <span class="sjv-i-caret-ner ikon">
          </span>
        </div>
      </div>
      <div class="c-multiselect--tiny" rel="c-multiselect-js">
        <label for="arendetyp" class="c-multiselect__label">Ärendetyp</label>
        <div class="c-select__wrapper">
          <select name="arendeTypList[]" id="arendeTyp" multiple="multiple" #arendeTypList
            (change)='onOptionsSelected("arendeTypList", arendeTypList.selectedOptions)'>
            <option *ngFor="let arendetyp_item of urvalValuesHolder.arendeTypList" [value]="arendetyp_item">
              {{arendetyp_item}}
            </option>
          </select>
        </div>
      </div>
      <div class="c-select c-select--tiny">
        <label for="ansokansTypList">Ansökanstyp</label>
        <div class="c-select__wrapper">
          <select name="ansokansTypListn" id="ansokansTyp" [(ngModel)]="sokFilter.ansokansTypList[0]">
            <option *ngFor="let ansokanstyp_item of urvalValuesHolder.ansokansTypList" [value]="ansokanstyp_item">
              {{ansokanstyp_item}}
            </option>
          </select>
          <span class="sjv-i-caret-ner ikon">
          </span>
        </div>
      </div>
      <div class="c-select c-select--tiny">
        <label for="franstatus">Från status</label>
        <div class="c-select__wrapper">
          <select id="franstatus" [(ngModel)]="sokFilter.franStatus">
            <option *ngFor="let franstatus_item of urvalValuesHolder.franStatus" [value]="franstatus_item">
              {{franstatus_item}}
            </option>
          </select>
          <span class="sjv-i-caret-ner ikon">
          </span>
        </div>
      </div>
      <div class="c-select c-select--tiny">
        <label for="tillstatus">Till status</label>
        <div class="c-select__wrapper">
          <select id="tillstatus" [(ngModel)]="sokFilter.tillStatus">
            <option *ngFor="let tillstatus_item of urvalValuesHolder.tillStatus" [value]="tillstatus_item">
              {{tillstatus_item}}
            </option>
          </select>
          <span class="sjv-i-caret-ner ikon">
          </span>
        </div>
      </div>
      <button
        *ngIf="sokFilter.myndighet !== '' && sokFilter.stodAr !== '' && sokFilter.arendeTypList.length !== 0
      && sokFilter.ansokansTypList.length !== 0 && sokFilter.ansokansTypList[0] !== '' && sokFilter.franStatus !== '' && sokFilter.tillStatus !== '';else disabledButton"
        class="c-btn--primary c-btn--compact" (click)="visaBekraftelse()">Ändra status</button>
      <ng-template #disabledButton>
        <button class="c-btn--primary c-btn--compact" disabled>Ändra status</button>
      </ng-template>
    </div>
    <div class="col-sm-8 mt-2">
      <div *ngIf="successStatus">
        <div class="c-banner" role="banner">
          <div class="c-banner__content">
            <span class="c-banner-icon sjv-i-info" tabindex="-1"></span>
            <div class="c-banner__text">
              <p> <b>Masshanteringen har startats. </b> Du kan se i JBR om körningen är färdig. Du kan lämna denna
                sida utan att körningen avbryts </p>
              <div class="c-banner__actionlink-container">
                <a href="https://www.jordbruksverket.se" class="c-banner__actionlink c-link__light--icon-right">Interna
                  IT-system<span class="sjv-i-extern-lank"></span></a>
                <a class="c-banner__actionlink" (click)="togglesuccessBanner()">Stäng</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showWarning" class="c-spinner">
      <div class="c-spinner__container">
        <div class="c-banner" role="banner">
          <div class="c-banner__content">
            <span class="c-banner-icon sjv-i-varning" tabindex="-1"></span>
            <div class="c-banner__text">
              <p><b>Ändra status</b></p>
              <p> Vill du verkligen massändra status på ditt urval?</p>
              <p> Statusändringen berör {{antalPaverkadeArenden}} ärenden. </p>
              <div class="c-banner__actionlink-container">
                <button class="c-btn--compact" (click)="andraStatus()">Ändra status</button>
                <button class="c-btn--compact" (click)="togglewarning()">Avbryt</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showSpinner" class="c-spinner">
      <div class="c-spinner__container">
        <div class="c-spinner__animation">
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--3"></div>
          </div>
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--2"></div>
          </div>
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--1"></div>
          </div>
        </div>
        <div class="c-spinner__content"> {{spinnerText}} <span class="cursor">
            <span class="sjv-i-cursor"></span></span>
        </div>
      </div>
    </div>
  </div>
</div>
