<div *ngIf="showSpinner" class="c-spinner">
    <div class="c-spinner__container">
        <div class="c-spinner__animation">
            <div class="c-spinner__animation__item">
                <div class="c-spinner__circle circle--3"></div>
            </div>
            <div class="c-spinner__animation__item">
                <div class="c-spinner__circle circle--2"></div>
            </div>
            <div class="c-spinner__animation__item">
                <div class="c-spinner__circle circle--1"></div>
            </div>
        </div>
        <div *ngIf="sokSida" class="c-spinner__content">
            <span>{{spinnerText}}</span>
            <span class="cursor">
                <span class="sjv-i-cursor">
                </span>
            </span> <br><br>
            <button class="c-btn--medium" (click)="avbrytSokning()">Avbryt</button>
        </div>
        <div *ngIf="!sokSida" class="c-spinner__content">
            {{spinnerText}}
            <span class="cursor">
                <span class="sjv-i-cursor">
                </span>
            </span>
        </div>
    </div>
</div>