<header class="c-header c-header--white" role="heading" aria-level="1">
  <div class="container">
    <div class="c-header__content">
      <img class="c-header__content--logo"
        src="https://cdn.jordbruksverket.se/designsystem/6.0.0/package/dist/release/assets/img/logo2.png"
        alt="Jordbruksverket logo">
      <span class="divider"></span>
      <a class="c-header__content--title"> Farmen </a>
    </div>
    <div class="c-header__content--placeholder">
    </div>
  </div>
</header>

<nav class="c-menu c-menu--white c-menu--fullwidth" aria-label="Main menu" rel="c-menu-js">
  <div class="container">
    <ul class="horizontalmenu" role="menubar" aria-label="Main menu">
      <li role="none">
        <a role="menuitem" href="/hemsida" tabindex="0">
          Sök Ärende
        </a>
      </li>
      <li role="none">
        <a role="menuitem" href="/kundsida" tabindex="0">
          Kundsida
        </a>
      </li>
      <li role="none">
        <a role="menuitem" href="/masshantering" tabindex="0">
          Masshantering
        </a>
      </li>
    </ul>
  </div>
</nav>
