.arendeKortInfo {
  display: inline-flex;
  font-size: 1rem;
  width: 100%;
  border-bottom: #b3b3b3 1px solid;

  b {
    padding-left: 0.4rem;
  }
}

.tillbakaIkon {
  vertical-align: text-top;
  padding-top: 1px;
  margin-right: 0.125rem;
}

.btnFieldWrapper {
  @extend .arendeKortInfo;
  justify-content: space-between;
  margin-top: 0.5rem;

  .tidigareVersion {
    border: dashed #b3b3b3;
    margin: -0.5rem 0 0.5rem 0;
    padding: 0.25rem;
  }

  .versionPosition {
    display: inline-flex;
    line-height: 1.9;
    vertical-align: middle;

    * {
      margin-right: 0.5rem;
    }
  }

  .c-btn--compact {
    max-width: 12rem;
    margin-right: 3rem;
  }
}

.skapaManuellAtgard {
  padding-left: 1.2rem;
  display: none;
}

.version {
  margin-right: 2rem;
  max-width: 10rem;
}

.header {
  font-size: 1rem;
  margin: 0;
}

.content {
  font-size: 1.2rem;
  font-weight: 700;
}

.ulContent {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }
}

p {
  margin: 0;
}

.arendeInfo {
  span {
    margin-right: 3rem;
    display: inline-block;
  }

  margin-bottom: 1.5rem;
}

.atgardBeskrivning {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.no-space-break {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inlineWrapper {

  span,
  p,
  button {
    margin-right: 1rem;
    display: inline-block;
  }

  .deleteIcon {
    vertical-align: middle;
    line-height: 1.5;
    padding-left: 0.25rem;
  }
}

.c-textarea {
  margin-bottom: 1rem;
}

.inlineWrapper2 {
  margin-bottom: 1rem;

  * {
    font-size: 0.8125rem;
  }

  span {
    margin-right: 1.5rem;
    display: inline-block;
  }
}

.inlineWrapper2__compact {
  span {
    margin-right: 1.5rem;
  }
}

.beslutsumma {
  vertical-align: super;
  padding: 0.7rem;
  border: 1px solid #b3b3b3;

  .beslutsumma__label {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1.5;
  }

  .beslutsumma__nummer {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
  }
}

p {
  line-height: 1.5;
}

.inlineContentWrapper {
  * {
    font-size: 1rem;

  }

  span {
    margin-right: 2rem;
    display: inline-block;
  }

  border-bottom: solid 1px #b3b3b3;
}

.e-h5 {
  margin-block-start: 1rem;
  margin-block-end: 0.5em;
}

.c-link__light {
  font-size: 0.8125rem;
  max-height: 1rem;
}

.c-tabs {
  margin-top: 1.25rem;
}

.c-tagsinput--tiny,
.c-input--tiny {
  max-width: 20rem;
  margin-bottom: 0.5rem;
}

// .redigerbarAnsDjurElement {
//   display: none;
// }

.c-radio-btn-group,
.c-select {
  margin: 0 0 0.5rem 0;
}

.border-right {
  border-right: solid 1px #b3b3b3;
}

.border-left {
  border-left: solid 1px #b3b3b3;
}

.laggtillatgard {
  margin-bottom: 1.5rem;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.c-toaster {
  position: absolute;
  bottom: 5rem;
  left: 40%;
  display: none;
}

.c-error-summary {
  margin-bottom: 1.5rem;
}

.inline {
  display: inline-block;
  margin-right: 0.5rem;
}

.defaultfontsize {
  font-size: 0.8125rem;
}

div .c-accordion-form--tiny .c-accordion-item__title .accordion__title-text {
  margin-right: 2rem;
}

.ikon-float-right {
  position: absolute;
  right: 0;

  * {
    margin: 0 0.25rem 0 0;
  }
}

.attributeHeader {
  display: flex;
  width: 100%;

  span {
    font-size: 0.8125rem;
    width: 25%;
    min-width: 25%;
    text-align: left;
  }
}

.attributeContectWrapper {
  .attributeContect {
    display: flex;
    width: 100%;

    span {
      text-align: left;
      font-weight: bold;
      padding: 0.25rem 0;
      margin-bottom: 0.25rem;
      font-size: 0.8125rem;
      width: 25%;
      min-width: 25%;
      background-color: #e6e6e6;
      word-wrap: normal;
    }
  }
}

.beslutWrapper {
  display: flex;
  width: 100%;
  margin-top: 1rem;

  .beslutRad {
    width: 48%;
    margin-right: 2%;
    min-width: 25%;
  }
}

.beslutContent {
  padding-bottom: 0.5rem;
}

.text {
  font-size: 0.8125rem;

  * {
    font-size: 0.8125rem;
  }
}

.beslutContentText {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1.5;
  font-size: 0.8125rem;
}

.beslutContentText:after {
  content: "";
  flex: 0 1 12.5rem;
}

.beslutContentText__varde {
  flex: 0 1 7.5rem;
}

@media (max-width: 768px) {

  .c-btn,
  .c-btn--compact,
  .c-btn--primary,
  .c-btn--tiny {
    width: auto;
    margin-right: 1rem;
  }

  .beslutWrapper {
    display: block;
    width: unset;
  }

  .btnFieldWrapper {
    .arendeRubrik {
      white-space: nowrap;
      padding: 0;
    }
  }

  .inlineContentWrapper,
  .inlineWrapper2 {
    display: block;

    span {
      display: flex;
      justify-content: space-between;
    }
  }

  .beslutWrapper .beslutRad {
    width: 100%;
  }

  div .c-accordion-form--tiny .c-accordion-item__title .accordion__title-text {
    margin-right: 1rem;
  }
}

.c-toaster p {
  font-weight: bold;
}

@media (max-width: 576px) {
  .btnFieldWrapper {
    display: block;
  }

  .border-right {
    border: none;
  }

  .border-left {
    border: none;
  }

  .attributeHeader {
    span {
      width: 50%;
      min-width: 50%;
    }
  }

  .beslutWrapper {
    display: block;
    width: unset;
  }

  .attributeContectWrapper {
    .attributeContect {
      span {
        width: 50%;
        min-width: 50%;
      }
    }
  }
}
