<app-header activeView="hemsida"></app-header>
<div role="main" class="container">
  <div class="row">
    <div class="col">
      <a [routerLink]="'/hemsida'" class="c-link__light">
        <span class="sjv-i-pil-vanster tillbakaIkon">
        </span>Tillbaka till sökresultat</a>
      <br />
      <div class="c-error-summary" *ngIf="errorMessage !== ''">
        <span class="c-error-summary__icon sjv-i-fel" tabindex="-1"></span>
        <div class="c-error-summary__content">
          <div class="c-error-summary__title"> Något har gått fel </div>
          <ul>
            <li> {{errorMessage}} </li>
          </ul>
        </div>
      </div>
      <div class="btnFieldWrapper">
        <div>
          <b class="arendeRubrik"> Ärende | {{arende.kundNummerAlfaNumerisk}} - {{arende.stodAr}} |
            {{arende.kundNamn}}</b>
        </div>
        <div class="tidigareVersion" *ngIf="tidigareVersion"> Du tittar på en tidigare version av ärendet. </div>
        <div class="versionPosition">
          <p> Version :</p>
          <div class="c-select--medium version">
            <div class="c-select__wrapper">
              <select (change)='visaTidigareVersion($event.target)' id="version">
                <option *ngFor="let arendeversion_item of arendeVersionLista"
                  [value]="arendeversion_item.arendeversionId">{{ arendeversion_item.presentationsText}}</option>
              </select>
              <span class="sjv-i-caret-ner ikon">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="inlineContentWrapper p-2">
        <span>
          <p class="header"> Ärendetyp </p>
          <p class="content"> {{arende.arendeTyp}} </p>
        </span>
        <span>
          <p class="header"> Ansökanstyp </p>
          <p class="content"> {{arende.ansokansTyp}} </p>
        </span>
        <span>
          <p class="header"> Nuvarande status </p>
          <p class="content"> {{arende.status}} </p>
        </span>
        <span>
          <p class="header"> Ärendenr. </p>
          <p class="content"> {{arende.arendeId}} </p>
        </span>
        <span>
          <p class="header"> Myndighet </p>
          <p class="content"> {{arende.myndighet}} </p>
        </span>
        <span>
          <p class="header"> Pers.nr./Org.nr. </p>
          <p class="content">
            {{arende.kundOrgNummer | slice:0:arende.kundOrgNummer.length - 4}}-{{arende.kundOrgNummer | slice:arende.kundOrgNummer.length -4:arende.kundOrgNummer.length}}
          </p>
        </span>
        <span>
          <p class="header"> Ankomstdatum </p>
          <p class="content"> {{arende.ankomstDatum}} </p>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h5 class="e-h5">Åtgärder</h5>
      <button class="c-btn--medium" (click)="hamtaManuellaAtgardTyper()">
        <span class="sjv-i-plus"></span>Lägg till åtgärd</button>
      <div class="skapaManuellAtgard">
        <div class="c-select--medium">
          <label>Skapa manuell åtgärd</label>
          <div class="c-select__wrapper">
            <select id="manuellAtgardTyp" [(ngModel)]="valdAtgardTyp">
              <option *ngFor="let atgardtyp_item of manuellAtgardTypLista" [ngValue]="atgardtyp_item">
                <ng-container *ngIf="atgardtyp_item.kod !== ''">
                  {{atgardtyp_item.kod}} - {{atgardtyp_item.text}}
                </ng-container>
                <ng-container *ngIf="atgardtyp_item.kod === ''">
                </ng-container>
              </option>
            </select>
            <span class="sjv-i-caret-ner ikon">
            </span>
          </div>
        </div>
        <button class="c-btn--small ml-1" id="bekraftaLaggTillAtgard" (click)="skapaManuellAtgard($event)">Lägg
          till</button>
        <button class="c-btn--small ml-1" id="avbrytLaggTillAtgard" (click)="avbrytLaggTillAtgard()">Avbryt</button>
      </div>
      <div *ngIf="!ingaAtgarder">
        <div class="c-tabs" rel="c-tabs-js">
          <ul class="c-tabs__labels" role="tablist" aria-label="Code Examples">
            <li role="presentation">
              <button class="tab-label is-active" id="alla" aria-selected="true" role="tab" tabindex="-1"
                (click)="filtreraAtgarder($event.target.id)"><span class="tab-label__text">Visa
                  alla</span></button>
            </li>
            <li role="presentation">
              <button class="tab-label" id="öppna" aria-selected="false" tabindex="-1" role="tab"
                (click)="filtreraAtgarder($event.target.id)"><span class="tab-label__text">Öppna</span></button>
            </li>
            <li role="presentation">
              <button id="stängda" aria-selected="false" class="tab-label" role="tab"
                (click)="filtreraAtgarder($event.target.id)"><span class="tab-label__text">Stängda</span></button>
            </li>
          </ul>
        </div>

        <div id="atgardLista">
          <div *ngFor="let atgard of atgardLista; index as i">
            <ul aria-label="accordion Control Group links" class="c-accordion-group" [id]="this.atgard.statusKod">
              <li aria-controls="content-1" aria-expanded="true" [id]="this.atgard.id + '-accordion'"
                class="c-accordion-form--medium" rel="c-accordion-js">
                <button tabindex="0" name="item-one" [id]="'atgard'+i" class="c-accordion-item__title">
                  <span class="accordion__icon toggle-down"></span>
                  <span class="accordion__title-text no-space-break">{{atgard.atgardTypModel.kod}} -
                    {{atgard.atgardTypModel.text}}</span>
                  <div class="ikon-float-right">
                    <span *ngIf="atgard.kommentar" class="sjv-i-kommentar"></span>
                    <span *ngIf="atgard.statusKod !== 'ÖPP'" class="sjv-i-framgang"></span>
                  </div>
                </button>

                <div role="region" [aria-labelledby]="'atgard'+i" aria-hidden="false" id="content-1"
                  class="c-accordion-item__content">
                  <fieldset class="c-radio-btn-group--medium" role="radiogroup" aria-labelledby="legend_4">
                    <p class="atgardBeskrivning">{{atgard.atgardTypModel.text}}</p>

                    <div *ngIf="!(redigeraLageAtgarder && atgard.id === valdAtgardId)" class="text">
                      <span><b>Status: </b></span>
                      <span>{{atgard.statusKod}}</span>
                    </div>

                    <div *ngIf="redigeraLageAtgarder && atgard.id === valdAtgardId">
                      <div *ngFor="let mojligStatus_item of atgard.atgardTypModel.mojligaStatusar"
                        class="c-radio-btn--medium">
                        <input [id]="mojligStatus_item + i" name="radiogroup_tiny" type="radio"
                          [value]="mojligStatus_item" [(ngModel)]="atgard.statusKod">
                        <label [for]="mojligStatus_item + i">{{mojligStatus_item}}</label>
                      </div>
                    </div>

                  </fieldset>
                  <div *ngIf="!(redigeraLageAtgarder && atgard.id === valdAtgardId)"
                    class="c-textarea--medium c-textarea--readonly">
                    <label [for]="'textarea'+i">Kommentar</label>
                    <textarea aria-describedby="textarea-description-4" class="textarea_exempel" [id]="'textarea'+i"
                      rows="4" wrap="soft" readonly="readonly" [(ngModel)]="atgard.kommentar"
                      name="kommentar"></textarea>
                    <div class="c-textarea__wrapper">
                      <p id="textarea-description-4" class="c-textarea__description"></p>
                      <p class="c-text-counter__count_characters"></p>
                    </div>
                  </div>
                  <div *ngIf="redigeraLageAtgarder && atgard.id === valdAtgardId" class="c-textarea--medium">
                    <label [for]="'textarea'+i">Kommentar<i class="label--valfritt">(Valfritt)</i></label>
                    <textarea aria-describedby="textarea-description-4" class="textarea_exempel" [id]="'textarea'+i"
                      rows="4" wrap="soft" [(ngModel)]="atgard.kommentar" name="kommentar"></textarea>
                    <div class="c-textarea__wrapper">
                      <p id="textarea-description-4" class="c-textarea__description"></p>
                      <p class="c-text-counter__count_characters"></p>
                    </div>
                  </div>

                  <div class="inlineWrapper2 inlineWrapper2__compact">
                    <span>
                      <p class="header"> Skapad </p>
                      <p class="content">{{atgard.regDatum? atgard.regDatum : '&ndash;'}}</p>
                    </span>
                    <span>
                      <p class="header"> Skapad av </p>
                      <p class="content">{{atgard.registreradAv? atgard.registreradAv : '&ndash;'}}</p>
                    </span>
                    <span>
                      <p class="header"> Uppdaterad </p>
                      <p class="content">{{atgard.uppdateradDatum? atgard.uppdateradDatum : '&ndash;'}}</p>
                    </span>
                    <span>
                      <p class="header"> Uppdaterad av </p>
                      <p class="content"> {{atgard.uppdateradAv? atgard.uppdateradAv : '&ndash;'}}</p>
                    </span>
                  </div>
                  <button *ngIf="!(redigeraLageAtgarder && atgard.id === valdAtgardId)"
                    (click)="hanteraRedigeraAtgard(atgard, i)" class="c-btn--small ml-1">Redigera</button>
                  <button *ngIf="redigeraLageAtgarder && valdAtgardId === atgard.id"
                    (click)="sparaRedigeratAtgard(atgard, $event)" class="c-btn--small ml-1">Spara </button>
                  <button *ngIf="redigeraLageAtgarder && valdAtgardId === atgard.id"
                    (click)="hanteraAvbrytAtgard(atgard, i)" class="c-btn--small ml-2">Avbryt</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="ingaAtgarder">
        <p> <span class="sjv-i-info inline" tabindex="-1"></span>Ärendet har inga åtgärder.</p>
      </div>
    </div>

    <div id='utbetFlikar' class="col-md-8 border-left">
      <div class="c-tabs" rel="c-tabs-js">
        <ul id="myTabs_11" class="c-tabs__labels" role="tablist" aria-label="Code Examples">
          <li role="presentation">
            <button id="ansokanDjurvalfard" href="#panel11" aria-selected="true" role="tab" aria-controls="panel11"
              tabindex="-1" class="tab-label is-active" (click)="sattValdFlik('ansokanDjurvalfard')"><span
                class="tab-label__text">Ansökan
                Djurvälfärd</span></button>
          </li>
          <li role="presentation">
            <button class="tab-label" id="attribut" href="#panel12" aria-selected="false" aria-controls="panel12"
              role="tab" tabindex="-1" (click)="sattValdFlik('attribut')"><span
                class="tab-label__text">Attribut</span></button>
          </li>
          <li role="presentation">
            <button id="beslut" href="#panel13" class="tab-label" aria-selected="false" aria-controls="panel13"
              role="tab" (click)="sattValdFlik('beslut')"><span class="tab-label__text">Beslut</span></button>
          </li>
        </ul>
        <div class="c-tabs__content" data-tabs="myTabs_11">
          <div id="panel11" class="c-tabs__panel is-active" role="tabpanel" aria-labelledby="panel11__label">
            <div class="inlineWrapper2 oredigerbarAnsDjurElement">
              <span>
                <p class="header"> PPN </p>
                <p class="content"> {{ansokanDjurvalfard.ppnLista.join(',')}} </p>
              </span>
            </div>
            <div class="inlineWrapper2 oredigerbarAnsDjurElement">
              <span>
                <p class="header"> Antal djur </p>
                <p class="content"> {{ansokanDjurvalfard.antalDjur | number:'':'sv'}} </p>
              </span>
              <span>
                <p class="header"> Antal djurenheter </p>
                <p class="content"> {{ansokanDjurvalfard.antalDjurenheter | number:'':'sv'}} </p>
              </span>
            </div>

            <div class="c-tagsinput--medium redigerbarAnsDjurElement">
              <label for="input-text-1" tabindex="-1">PPN</label>
              <div class="c-tagsinput-field" rel="c-tagsinput-js">
                <div class="tagsContainer">
                  <input autocomplete="off" tabindex="-1" aria-hidden="true" class="c-tagsinput__valueholder"
                    type="text" [value]="ansokanDjurvalfard.ppnLista.join(',')"
                    (change)="uppdateraPPNNumber($event.target)">
                  <input autocomplete="off" class="c-tagsinput__textEditor" type="text" id="tagsinput-1" placeholder="">
                </div>
                <div class="select__arrow">
                  <span class="sjv-i-multiselect-ikon"></span>
                </div>
              </div>
              <p tabindex="-1" id="description-1"></p>
            </div>
            <div class="c-input--medium redigerbarAnsDjurElement">
              <label for="antaldjur" tabindex="-1" id="label-6">Antal djur</label>
              <div class="input__wrapper input__wrapper--text">
                <input autocomplete="given-name" id="antaldjur" aria-describedby="description-6" type="text"
                  tabindex="0" name="text6" [(ngModel)]="ansokanDjurvalfard.antalDjur">
              </div>
            </div>
            <div class="c-input--medium redigerbarAnsDjurElement">
              <span>
                <p class="content-text-bold"> Antal djurenheter </p>
                <p class="content-text"> {{ansokanDjurvalfard.antalDjurenheter | number:'':'sv'}} </p>
              </span>
            </div>
            <button *ngIf="!tidigareVersion && redigeraLageAnsDjur === false" class="c-btn--small mt-2 mr-2"
              (click)="redigeraAnsDjurValView($event.target, ansokanDjurvalfard)">Redigera</button>
            <button *ngIf="!tidigareVersion && redigeraLageAnsDjur === true" class="c-btn--small mt-2 mr-2"
              (click)="sparaAnsDjurValView($event.target, ansokanDjurvalfard)">Spara</button>
            <button *ngIf="!tidigareVersion && redigeraLageAnsDjur === true" class="c-btn--small mt-2"
              (click)="avbrytAnsDjurValView($event.target, ansokanDjurvalfard)">Avbryt</button>

          </div>
          <div id="panel12" class="c-tabs__panel" role="tabpanel" aria-labelledby="panel12__label">
            <div *ngIf="attributFinns">
              <div class="attributeHeader">
                <span>Attribut</span>
                <span>Värde</span>
              </div>
              <div *ngFor="let attribut of attributLista; index as i" class="attributeContectWrapper">
                <div class="attributeContect" [id]="attribut.id">
                  <span>{{attribut.namn}}</span>
                  <span *ngIf="!(redigeraLageAttribut && attribut.id === valtAttributId)">{{attribut.varde}}</span>
                  <span *ngIf="redigeraLageAttribut && attribut.id === valtAttributId && attribut.datatyp === 'DATE'">
                    <div class="c-input">
                      <div class="input__wrapper ">
                        <input id="datepicker_2" type="date" max="2500-01-01" tabindex="0" placeholder="åååå-mm-dd"
                          name="text1" [(ngModel)]="attribut.varde">
                        <div class="icon"></div>
                      </div>
                    </div>
                  </span>
                  <span *ngIf="redigeraLageAttribut && attribut.id === valtAttributId &&attribut.datatyp !== 'DATE'">
                    <select id="attributVarde" [(ngModel)]="attribut.varde">
                      <option value="KLAR">KLAR</option>
                      <option value="J">J</option>
                    </select>
                  </span>
                  <button *ngIf="!(redigeraLageAttribut && valtAttributId === attribut.id)"
                    (click)="hanteraRedigeraAttribut(attribut, i)" class="c-btn--small ml-1">Redigera</button>
                  <button *ngIf="!(redigeraLageAttribut && valtAttributId === attribut.id)"
                    (click)="taBortAttribut(attribut, $event)" class="c-btn--small ml-1">Ta bort</button>
                  <button *ngIf="redigeraLageAttribut && valtAttributId === attribut.id"
                    (click)="sparaRedigeratAttribut(attribut, $event)" class="c-btn--small ml-1">Spara </button>
                  <button *ngIf="redigeraLageAttribut && valtAttributId === attribut.id"
                    (click)="hanteraAvbrytAttribut(attribut, i)" class="c-btn--small ml-2">Avbryt</button>
                </div>
              </div>
              <div class="c-space--m"></div>
            </div>

            <p class="defaultfontsize" *ngIf="!attributFinns">Ärendet har inga attribut i denna version.</p>

            <button *ngIf="!tidigareVersion && arende.status==='REG'" class="c-btn--medium"  (click)="hamtaGiltigaAttribut()"><span class="sjv-i-plus"></span>Lägg till attribut</button>
            <div class="skapaAttribut">
              <div class="c-select--medium">
                <label>Skapa attribut</label>
                <div class="c-select__wrapper">
                  <select id="giltigtAttribut" [(ngModel)]="valtAttribut">
                    <option *ngFor="let attribut_item of giltigtAttributLista" [ngValue]="attribut_item">
                      <ng-container *ngIf="attribut_item.kod !== ''">
                        {{attribut_item.kod}} - {{attribut_item.namn}}
                      </ng-container>
                      <ng-container *ngIf="attribut_item.kod === ''">
                      </ng-container>
                    </option>
                  </select>
                  <span class="sjv-i-caret-ner ikon">
                  </span>
                </div>
              </div>

              <button class="c-btn--small ml-1" id="bekraftaLaggTillAttribut" (click)="skapaAttribut()">Lägg
                till</button>
              <button class="c-btn--small ml-1" id="avbrytLaggTillAttribut"
                (click)="avbrytLaggTillAttribut()">Avbryt</button>
            </div>

          </div>
          <div id="panel13" class="c-tabs__panel" role="tabpanel" aria-labelledby="panel13__label">
            <div *ngIf="beslutFinns">
              <span class="inlineWrapper2">
                <span>
                  <p class="header"> Beslutstyp </p>
                  <p class="content">{{beslut.beslutsTyp? beslut.beslutsTyp : '&ndash;'}}</p>
                </span>
                <span>
                  <p class="header"> Beslutsnummer </p>
                  <p class="content">{{beslut.beslutsId? beslut.beslutsId : '&ndash;'}}</p>
                </span>
                <span>
                  <p class="header"> Beräkningsdatum </p>
                  <p class="content">{{beslut.berakningsDatum? beslut.berakningsDatum: '&ndash;'}}</p>
                </span>
                <span>
                  <p class="header"> Beslutsdatum </p>
                  <p class="content">{{beslut.beslutsDatum? beslut.beslutsDatum: '&ndash;'}}</p>
                </span>
              </span>
              <span class="beslutsumma" *ngIf="beslutSummaFinns">
                <span class="beslutsumma__label">Utbetalning/Återkrav: </span>
                <span class="beslutsumma__nummer">{{beslut.berakningUtbAterkrav.varde | number:'':'sv'}}
                  {{beslut.berakningUtbAterkrav.enhet}}</span>
              </span>

              <div class="beslutWrapper">
                <div class="beslutRad">
                  <ul aria-label="accordion Control Group links" class="c-accordion-group">
                    <li aria-controls="content-1" aria-expanded="true" class="c-accordion-form--medium open"
                      rel="c-accordion-js">
                      <button href="#item-three" name="item-three" id="arendedetalj" class="c-accordion-item__title">
                        <span class="accordion__icon toggle-down"></span>
                        <span class="accordion__title-text"> Ärende</span>
                      </button>
                      <div role="region" aria-labelledby="arendedetalj" aria-hidden="true" id="content-3"
                        class="c-accordion-item__content">
                        <div class="beslutContent">
                          <div class="beslutContentText" *ngFor="let berArende_item of beslut.berakningarArende">
                            <span>{{berArende_item.berakningsTyp}}</span>
                            <span class="beslutContentText__varde">{{berArende_item.varde | number:'':'sv'}}
                              {{berArende_item.enhet}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="beslutRad">
                  <ul aria-label="accordion Control Group links" class="c-accordion-group">
                    <li aria-controls="content-1" aria-expanded="true" class="c-accordion-form--medium open"
                      rel="c-accordion-js">
                      <button href="#item-three" name="item-three" id="djurvälfärd" class="c-accordion-item__title">
                        <span class="accordion__icon toggle-down"></span>
                        <span class="accordion__title-text"> Djurvälfärd {{arende.arendeTyp}} </span>
                      </button>
                      <div role="region" aria-labelledby="djurvälfärd" aria-hidden="true" id="content-3"
                        class="c-accordion-item__content">
                        <div class="beslutContent">
                          <div class="beslutContentText"
                            *ngFor="let berDjurvalfard_item of beslut.berakningarDjurvalfard">
                            <span>{{berDjurvalfard_item.berakningsTyp}}</span>
                            <span class="beslutContentText__varde">{{berDjurvalfard_item.varde | number:'':'sv'}}
                              {{berDjurvalfard_item.enhet}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <p *ngIf="!beslutFinns">Ärendet har inget beslut i denna version.</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="warningMessage !== ''" class="c-spinner">
      <div class="c-spinner__container">
        <div class="c-banner" role="banner">
          <div class="c-banner__content">
            <span class="c-banner-icon sjv-i-varning" tabindex="-1"></span>
            <div class="c-banner__text">
              <p>{{warningMessage}}</p>
              <div class="c-banner__actionlink-container">
                <button class="c-btn--medium float-right mt-5" (click)="togglewarning()">Stäng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-toaster" role="alert">
      <div class="c-toaster__content">
        <p class="toasterMessage"></p>
      </div>
    </div>
    <div *ngIf="showSpinner" class="c-spinner">
      <div class="c-spinner__container">
        <div class="c-spinner__animation">
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--3"></div>
          </div>
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--2"></div>
          </div>
          <div class="c-spinner__animation__item">
            <div class="c-spinner__circle circle--1"></div>
          </div>
        </div>
        <div class="c-spinner__content">
          <span>{{spinnerText}}</span>
          <span class="cursor">
            <span class="sjv-i-cursor">
            </span>
          </span> <br><br>
          <button class="c-btn--medium" (click)="hideSpinner()">Avbryt</button>
        </div>
      </div>
    </div>
  </div>
</div>