@import "../../../settings.colors";

.arendeKortInfo {
  display: inline-flex;
  font-size: 1rem;
  width: 100%;
  border-bottom: darkgrey 1px solid;

  b {
    padding-left: 0.4rem;
  }
}

.tillbakaIkon {
  vertical-align: text-top;
  padding-top: 1px;
  margin-right: 2px;
}

.btnFieldWrapper {
  @extend .arendeKortInfo;
  justify-content: space-between;
  margin-top: 0.5rem;

  .tidigareVersion {
    border: dashed #B3B3B3;
    margin: -0.5rem 0 0.5rem 0;
    padding: 0.25rem;
  }

  .versionPosition {
    display: inline-flex;
    line-height: 1.9;
    vertical-align: middle;

    * {
      margin-right: 0.5rem;
    }
  }

  .c-btn--compact {
    max-width: 12rem;
    margin-right: 3rem;
  }
}

.skapaManuellAtgard {
  padding-left: 1.2rem;
  display: none;
}

.version {
  margin-right: 2rem;
  max-width: 10rem;
}

.header {
  font-size: 1rem;
  margin: 0;
}

.content {
  font-size: 1.2rem;
  font-weight: 700;
}

.ulContent {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }
}

p {
  margin: 0;
}

.arendeInfo {
  span {
    margin-right: 3rem;
    display: inline-block;
  }

  margin-bottom: 1.5rem;
}

.atgardBeskrivning {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.inlineWrapper {

  span,
  p,
  button {
    margin-right: 1rem;
    display: inline-block;
  }

  .deleteIcon {
    vertical-align: middle;
    line-height: 1.5;
    padding-left: 4px;
  }
}

.inlineWrapper2 {
  * {
    font-size: 0.8125rem;
  }

  span {
    margin-right: 3rem;
    display: inline-block;
  }
}

p {
  line-height: 1.5;
}

.inlineContentWrapper {
  * {
    font-size: 1rem;

  }

  span {
    margin-right: 2rem;
    display: inline-block;
  }

  border-bottom: solid 1px darkgrey;
}

.e-h5 {
  margin-block-start: 1rem;
  margin-block-end: 0.5em;
}

.c-link__light {
  font-size: 0.8125rem;
  max-height: 1rem;
}

.c-tabs {
  margin-top: 1.25rem;
}

.c-tagsinput--tiny,
.c-input--tiny {
  max-width: 20rem;
  margin-bottom: 0.5rem;
}

.redigeraView {
  display: none;
}

.c-radio-btn-group,
.c-select {
  margin: 0 0 0.5rem 0;
}

.border-right {
  border-right: solid 1px darkgrey;
}

.laggtillatgard {
  margin-bottom: 1.5rem;
}

.c-toaster {
  position: absolute;
  bottom: 5rem;
  left: 40%;
  display: none;
}

.inline {
  display: inline-block;
  margin-right: 0.5rem;
}

.ikon-float-right {
  position: absolute;
  right: 0;

  * {
    margin: 0 0.25rem 0 0;
  }
}


@media (max-width: 768px) {

  .c-btn,
  .c-btn--compact,
  .c-btn--primary,
  .c-btn--tiny {
    width: auto;
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .btnFieldWrapper {
    display: block;
  }

  .inlineContentWrapper {
    display: block;
  }

  .border-right {
    border: none;
  }
}
