@import "../../../settings.colors";

.arendeKortInfo {
  display: inline-flex;
  font-size: 1rem;
  width: 100%;
  border-bottom: darkgrey 1px solid;
  margin: 1rem 0;
  b{
    padding-left: 0.4rem;
  }
}

.btnFieldWrapper {
  @extend .arendeKortInfo;
  justify-content: space-between;

  .versionPosition {
    display: inline-flex;
    line-height: 1.9;
    vertical-align: middle;

    * {
      margin-right: 0.5rem;
    }
  }

  .c-btn--compact {
    max-width: 12rem;
    margin-right: 3rem;
  }
}

@media (max-width: 576px) {
  .btnFieldWrapper {
    display: block;
  }
}

.c-select {
  margin-right: 2rem;
  max-width: 10rem;
}

.header {
  font-size: 1rem;
  margin: 0;
}

.content {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  margin: 0;
}

.arendeInfo {
  span {
    margin-right: 3rem;
    display: inline-block;
  }

  margin-bottom: 2rem;
}

.inlineWrapper {

  span,
  p,
  button {
    margin-right: 1rem;
    display: inline-block;
  }

  .deleteIcon {
    vertical-align: middle;
    line-height: 1.5;
    padding-left: 4px;
  }
}

.inlineContentWrapper {
  @extend .inlineWrapper;
  border-bottom: solid 1px darkgrey;
}
