<app-header activeView="kundsida"></app-header>
<div role="main" class="container">
  <div class="row">
    <div class="col">
      <div class="kundsidaHeading">
        Ärende | <b>O20855 - 2019 | KALLE VOLYMSON171722</b>
      </div>
      <div class="kundsidaHeading2">
        <button class="c-btn--compact"><span class="sjv-i-pil-vanster"></span>Tillbaka till sökresultat</button>
        <div class="reverse">
          <p class="version">Version :</p>
          <div class="c-select c-select--tiny">
            <div class="c-select__wrapper">
              <select id="field-1">
                <option>Aktuell version</option>
                <option>Version 1 - 2019-02-13</option>
              </select>
              <div class="select__arrow">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p><b>Ärendeinformation</b></p>
      <fieldset class="inline">
        <span>
          <p class="heading"> Ärendetyp </p>
          <p class="content"> Farers </p>
        </span>
        <span>
          <p class="heading"> Ans.typ </p>
          <p class="content"> UTBET </p>
        </span>
        <span>
          <p class="heading"> Nuvarande status </p>
          <p class="content"> REG </p>
        </span>
        <span>
          <p class="heading"> Ärendenr </p>
          <p class="content"> 8228274 </p>
        </span>
        <span>
          <p class="heading"> Myndighet </p>
          <p class="content"> Borås </p>
        </span>
        <span>
          <p class="heading"> Kundens org.nr </p>
          <p class="content"> 670703-3319 </p>
        </span>
        <span>
          <p class="heading"> Ankomstdatum </p>
          <p class="content"> 2019-10-01 </p>
        </span>
        <span>
          <p class="heading"> Adress </p>
          <p class="content"> Volymgatan 12, 555 55 Volymstad </p>
        </span>
      </fieldset>
      <form>
        <div class="c-accordion-wrapper">
          <ul aria-label="accordion Control Group links" class="c-accordion">
            <li aria-controls="content-1" aria-expanded="true" rel="c-accordion-js">
              <button tabindex="0" name="item-one" id="accordion-control-1" class="c-accordion-item__title">
                <span class="accordion__icon toggle-down"></span>
                <span>Ansökan Djurvälfärd</span>
              </button>
              <div role="region" aria-labelledby="accordion-control-1" aria-hidden="false" id="content-1"
                class="c-accordion-item__content">
              </div>
            </li>
          </ul>
        </div>

        <div class="c-accordion-wrapper">
          <ul aria-label="accordion Control Group links" class="c-accordion">
            <li aria-controls="content-1" aria-expanded="true" rel="c-accordion-js">
              <button tabindex="0" name="item-one" id="accordion-control-1" class="c-accordion-item__title">
                <span class="accordion__icon toggle-down"></span>
                <span>Åtgärdskoder</span>
              </button>
              <div role="region" aria-labelledby="accordion-control-1" aria-hidden="false" id="content-1"
                class="c-accordion-item__content">
                <div class="c-accordion-wrapper">
                  <ul aria-label="accordion Control Group links" class="c-accordion">
                    <li aria-controls="content-1" aria-expanded="true" rel="c-accordion-js">
                      <button tabindex="0" name="item-one" id="accordion-control-1" class="c-accordion-item__title">
                        <span class="accordion__icon toggle-down"></span>
                        <span>ÖPP</span>
                      </button>
                      <div role="region" aria-labelledby="accordion-control-1" aria-hidden="false" id="content-1"
                        class="c-accordion-item__content">
                        <p class="mb-0"><b>1191 - Konto saknas</b></p>
                        <div class="inline2">
                          <span>
                            <div class="c-select c-select--tiny">
                              <label for="field-1">Status</label>
                              <div class="c-select__wrapper">
                                <select id="field-1">
                                  <option>ÖPP</option>
                                  <option>LUÅ</option>
                                </select>
                                <div class="select__arrow">
                                </div>
                              </div>
                            </div>
                          </span>
                          <span>
                            <div class="c-input c-input--tiny">
                              <label for="input-compact-text-6" tabindex="-1" id="label-6">Kommentar</label>
                              <div class="input__wrapper input__wrapper--text">
                                <input autocomplete="given-name" id="input-compact-text-6"
                                  aria-describedby="description-6" type="text" tabindex="0" name="text6">
                                <div class="icon">
                                  <i class="sjv-i-check"></i>
                                </div>
                              </div>
                              <div class="c-input__description__wrapper">
                                <p id="description-6" tabindex="-1"></p>
                              </div>
                            </div>
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="c-accordion-wrapper">
          <ul aria-label="accordion Control Group links" class="c-accordion">
            <li aria-controls="content-1" aria-expanded="true" rel="c-accordion-js">
              <button tabindex="0" name="item-one" id="accordion-control-1" class="c-accordion-item__title">
                <span class="accordion__icon toggle-down"></span>
                <span>Attribut</span>
              </button>
              <div role="region" aria-labelledby="accordion-control-1" aria-hidden="false" id="content-1"
                class="c-accordion-item__content">
              </div>
            </li>
          </ul>
        </div>

        <div class="c-accordion-wrapper">
          <ul aria-label="accordion Control Group links" class="c-accordion">
            <li aria-controls="content-1" aria-expanded="true" rel="c-accordion-js">
              <button tabindex="0" name="item-one" id="accordion-control-1" class="c-accordion-item__title">
                <span class="accordion__icon toggle-down"></span>
                <span>Beslut</span>
              </button>
              <div role="region" aria-labelledby="accordion-control-1" aria-hidden="false" id="content-1"
                class="c-accordion-item__content">
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
