.tinyInput {
  margin-right: 0.2rem;
  width: 40%;
  max-width: 3rem;
}

.farmen-h3 {
  margin-bottom: 0.5rem;
}

.tableContainer {
  margin-top: 2.5rem;

  p {
    margin-bottom: 0rem;
  }
}

.confirm-btn {
  button {
    max-width: 12rem;
  }

  :first-child {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .c-btn,
  .c-btn--compact,
  .c-btn--primary,
  .c-btn--tiny {
    width: auto;
    margin-right: 1rem;
  }
}
