<app-header activeView="hemsida"></app-header>
<div role="main" class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3 class="sokheading">Sökfilter</h3>
      <div class="c-select">
        <label for="stodar">Stödår</label>
        <div class="c-select__wrapper">
          <select id="stodar" [(ngModel)]="stodar">
            <option *ngFor="let stodar_item of stodar_values" [value]="stodar_item">
              {{stodar_item}}
            </option>
          </select>
          <div class="select__arrow">
          </div>
        </div>
      </div>
      <div class="c-input">
        <label for="input-text-1" id="label-1" tabindex="-1">Kundnr</label>
        <div class="input__wrapper " tabindex="-1">
          <input autocomplete="given-name" id="kundnummer-1" type="text" tabindex="0" name="text1">
          <input autocomplete="given-name" id="kundnummer-2" type="text" tabindex="0" name="text2">
        </div>
      </div>
      <div class="c-select">
        <label for="arendetyp">Ärendetyp</label>
        <div class="c-select__wrapper">
          <select id="arendetyp" [(ngModel)]="arendetyp">
            <option *ngFor="let arendetyp_item of arendetyp_values" [value]="arendetyp_item">
              {{arendetyp_item}}
            </option>
          </select>
          <div class="select__arrow">
          </div>
        </div>
      </div>
      <div class="c-select">
        <label for="field-1">Ans.typ</label>
        <div class="c-select__wrapper">
          <select id="anstyp" [(ngModel)]="anstyp">
            <option *ngFor="let anstyp_item of anstyp_values" [value]="anstyp_item">
              {{anstyp_item}}
            </option>
          </select>
          <div class="select__arrow">
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-9">
      <p>Hemsida</p>
    </div>
  </div>
</div>
