.c-select
{
  margin-right: 2rem;
  max-width: 10rem;
}

#kundnummer-1 {
  margin-right: 0.8rem;
  width: 40%;
  max-width: 5rem;
}

#kundnummer-2 {
  max-width: 12rem;
}

.sokheading {
   margin: 1.5rem 0 0.5rem 0;
}
