// -----------------------------------------------------------------------------
// Palette JV Green
// -----------------------------------------------------------------------------

$jv-green-300: #eaf7c6;
$jv-green-400: #cae778;
$jv-green-500: #84bd00;
$jv-green-600: #587604;
$jv-green-650: #2F651A;
$jv-green-700: #33430A;

// -----------------------------------------------------------------------------
// Palette JV Blue
// -----------------------------------------------------------------------------

$jv-blue-300: #e8f4fc;
$jv-blue-400: #b6dffa;
$jv-blue-500: #62b5e5;
$jv-blue-600: #116FA2;
$jv-blue-700: #074567;

$jv-blue-hover: #f0f7fc;

// -----------------------------------------------------------------------------
// Palette JV Brown
// -----------------------------------------------------------------------------

$jv-brown-200: #fff0d4;
$jv-brown-300: #ffefba;
$jv-brown-400: #edce92;
$jv-brown-500: #6e4a00;
$jv-brown-600: #a24a0f;
$jv-brown-700: #755a00;

// -----------------------------------------------------------------------------
// Palette JV Grey
// -----------------------------------------------------------------------------

$jv-grey-005: #f2f2f2;
$jv-grey-010: #e6e6e6;
$jv-grey-020: #cccccc;
$jv-grey-030: #b3b3b3;
$jv-grey-070: #4d4d4d;
$jv-grey-080: #333333;
$jv-grey-090: #1a1a1a;

$jv-black: #000000;

// -----------------------------------------------------------------------------
// Palette JV White
// -----------------------------------------------------------------------------

$jv-white: #ffffff;

// -----------------------------------------------------------------------------
// Palette System
// -----------------------------------------------------------------------------

$jv-success: #37761e;
$jv-success-tint: #e6f0e0;

$jv-warning: #9a6d18;
$jv-warning-tint: #f8f1e3;

$jv-error: #bf3c30;
$jv-error-tint: #f8eae7;
$jv-error-textbox-background: #f2c3be;

$jv-informational: #074567;
$jv-informational-tint: #d0dce2;

$jv-link-idle: #137cb4;
$jv-link-idle-tint: #b6dffa;

$jv-link-hover: #a24a0f;
$jv-link-hover-tint: #e0a430;

$jv-link-visited: #995c33;
$jv-link-visited-tint: #ffedca;


// -----------------------------------------------------------------------------
// NEDANSTÅENDE FÄRGER HAR INTE KUNNAT PLOCKATS BORT DÅ DE ANÄVNDS AV GAMLA KOMPONENTER.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Palette JV Yellow
// -----------------------------------------------------------------------------

$jv-yellow: #daaa00;
$jv-yellow-25: #f6eabf;
$jv-yellow-50: #ecd47f;
$jv-yellow-75: #e3bf40;

// -----------------------------------------------------------------------------
// Palette JV Red
// -----------------------------------------------------------------------------

$jv-red: #da291c;
$jv-red-25: #f6c9c6;
$jv-red-50: #ec948d;
$jv-red-75: #e35f55;

$jv-red-400: #eaafaa;
$jv-red-600: #ab362b;

// -----------------------------------------------------------------------------
// Palette JV Dark-Red
// -----------------------------------------------------------------------------

$jv-dark-red: #8a0900;


// -----------------------------------------------------------------------------
// Palette JV Beige
// -----------------------------------------------------------------------------

$jv-beige: #bfbb98;
$jv-beige-25: #efeee5;
$jv-beige-50: #dfddcb;
$jv-beige-75: #cfccb2;

// -----------------------------------------------------------------------------
// Palette JV Dark-Blue
// -----------------------------------------------------------------------------

$jv-dark-blue: #5e8ab4;
$jv-dark-blue-25: #d7e2ec;
$jv-dark-blue-50: #aec4d9;
$jv-dark-blue-75: #86a7c7;


// -----------------------------------------------------------------------------
// Palette JV Digital-Blue
// -----------------------------------------------------------------------------

$jv-digital-blue: #1874b7;